@use "../../../Vars/mixin";

.video_container{
    transition: all 5s !important;
    margin-block: 1rem;
    @include mixin.mid{
        margin-block: 0;
    }
    &:hover{
        background: var(--clr-bg-200);
        transition: all 0.3s !important;
        .play_icon{
            transition: all 0.3s;
            opacity: 1;
            width: 40%;
            height: 40%;
        }
    }
    .play_icon{
        opacity: 0.3;
        inset: 50%;
        transition: all 5s;
        position:absolute;
        inset: 50%;
        transform: translate(-50%, -50%);
        width: 20%;
        height: 20%;
        background: orangered;
        padding: 10px;
        border-radius: 50%;
    }
    .projectdate{
        font-size: 0.8rem;
        color:var(--clr-txt-100);
        small{
            display: flex;
            gap: 0.3rem;
            align-items: center;
        }
    }
}
.fixedPlayer{
    position: fixed;
    inset: 0;
    backdrop-filter: blur(20px);
    z-index: 100;
    display: flex;
    align-items: center;
    justify-content:center;
    flex-flow: column nowrap;
    opacity: 1;
    transition: all 1s;
    padding: 3rem 1rem;
    .videoctrls{
        width: 100%;
    }
    button{
        float: right;
        right: 30px;
        top: 50px;
        color: var(--clr-txt-100);
        background-color: var(--clr-bg-200);
        padding: 10px;
        border-radius: 5px;
        cursor:pointer;
        transition: all 0.3s;
        &:hover{
            background: var(--clr-bg-300);
        }
    }
}
