.mainNav{
    position:fixed;
    inset-block-end:1%;
    inset-inline-start:50%;
    transform:translateX(-50%);
    border-radius:10px;
    box-shadow: 1px -3px 10px #00000050;
    backdrop-filter: blur(5px);
    overflow: hidden;
    &::before{
        content:"";
        position:absolute;
        background: var(--clr-bg-200);
        inset: 0;
        border: 1px solid var(--clr-bg-100);
        z-index: 0;
        opacity: 0.5;
    }
    ul{
        display:flex;
        // gap: 0.5rem;
        width:100%;
        z-index: 10;
        position:relative;
        .text{
            display:none;
        }
        .icon{
            font-size: 1rem;
        }
        a{
            display:block;
            padding: 1rem;
            transition: all 1s;
            &:hover,&[aria-current="true"]{
                background: var(--clr-bg-300); 
                transition: all .1s;
            }
        }
    }
}