.projectcard{
    background-size: cover !important;
    background-position:center;
    background-repeat: no-repeat;
    height: 400px;
}
.project__head{
    font-size: 1.5rem;
    font-weight: 900;
    color:var(--clr-txt-300);
}