.content {
  p, ul, ol {
    font-size: .9rem;
    margin-block-end: 1rem;;
    letter-spacing: 1.8px;
    opacity: 1;
    color:var(--clr-txt-100);
    line-height: 150%;
    scrollbar-width: 10px;
    padding-inline-end: 1rem;
    animation: fideinFromBottom linear forwards;
    animation-timeline: view();
    animation-range: 20svh cover 50svh;
    b, strong{
      font-weight: 600;
      color: var(--clr-txt-300) !important;
    }
  }
  h2,h3,h4,h5,h6 {
   margin-block: 2rem 0.5rem;
   color:var(--clr-txt-300);
  }
}
@supports (animation-timeline: view()) {
  @media (prefers-reduced-motion: no-preference) {
    .content {
      p {
        opacity: 0;
        line-height: 3rem;
        scrollbar-width: 10px;
        padding-inline-end: 1rem;
        animation: fideinFromBottom linear forwards;
        animation-timeline: view();
        animation-range: entry 10svh cover 30svh;

      }
    }
    @keyframes fideinFromBottom {
      to {
        opacity: 1;
        line-height: 1.8rem;
      }
    }
  }
}
