
.section__header{
    
    .section__title{
        padding: 1rem;
        position: relative;
        // width: fit-content;
        &::after{
            position: absolute;
            content: "";
            height: 4px;
            inset-block-end: 0;
            inset-inline: 0;
            background-color: var(--clr-bg-300);
            z-index: 0;
            pointer-events: none;
            animation: scrollBarWidth ease-in-out;
            animation-timeline: view();
            animation-range: entry 0% cover 90%;
            transition: all 1s;
        }
    }
}

@keyframes scrollBarWidth {
    0%{
        right: 100%;
    }
    100%{
        right: 0;
    }
}