.cookies_container {
    position: fixed;
    bottom: 5px;
    left: 5px;
    z-index: 999999;
    max-width: 300px;
    p{
        font-size: 1rem;
    }
    > div{
        margin-block: 1rem;
    }
}
.cookies_container__print{
    padding: 5px;
    background:var(--clr-bg-100);
    color:var(--clr-txt-100);
    border-radius: 10px;
}