@use '../../../Vars/mixin';
.about_container{
    margin-block-end: 5rem;
    @include mixin.mid{
        position:sticky;
        top: 100px;
    }
}
.about_figure{
    margin-inline: auto;
    background:var(--clr-txt-300);
    overflow: hidden;
    border-radius: 10px;
    margin-block-end: 2rem;
    position:sticky;
    top: 100px;
    z-index: 10;
    img{
        display: block;
        transform: translateY(20px);
        filter: drop-shadow(-93px -1px 24px #00000040) drop-shadow(-64px 27px 3px #00000020);
        margin-inline: auto;
    }
}