@use '../Vars/mixin';

.main_footer{
    margin-block-start: 10rem;
    padding: 4rem 0;
    background-color: #222;
    h2{
        font-size: 1rem;
    }
    p{
        color:white;
    }
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: var(--mid_gap);
    @include mixin.mid{
        justify-content: flex-end;
    }
}