@use '../../../Vars/mixin';

.main_header__color_mode{
    button{
        display:block;
        width: 1.5rem;
        aspect-ratio: 1;
        overflow: hidden;
        cursor:pointer;
        .sun, .moon{
           font-size: 1.5rem;
            transition: all 0.5s;
            path{
                fill: orangered;
            }
        }
        .moon{
            path{
                fill: yellow;
            }
        }
    }
}

body[data-mode="dark"]{
    .main_header__color_mode{
        button{
           .sun, .moon{
             transform:translatey(-1.5rem);
           }
        }
    }
}