$clrsLight:(
    txt:(
        100:hsl(216, 72%, 17%),
        200:hsl(216, 72%, 27%),
        300:hsl(216, 72%, 37%),
        400:hsla(216, 72%, 17%, 0.2),
        ),
    call:(
        100:hsl(83, 87%, 50%),
        200:hsl(83, 87%, 60%),
        300:hsl(83, 87%, 70%),
        400:hsl(83, 87%, 50%,0.2),
        ),
    ntr:(
        100:hsl(260, 4%, 15%),
        200:hsl(260, 4%, 25%),
        300:hsl(260, 4%, 35%),
        400:hsla(260, 4%, 15%, 0.2),
        ),
    bg:(
        100:hsl(0, 0%, 76%),
        200:hsl(0, 0%, 86%),
        300:hsl(0, 0%, 96%),
        400:hsla(0, 0%, 76%, 0.2),
        )
);
$clrsDark:(
    bg:(
        100:hsl(216, 72%, 17%),
        200:hsl(216, 72%, 27%),
        300:hsl(216, 72%, 37%),
        400:hsla(216, 72%, 17%, 0.2),
        ),
    call:(
        100:hsl(83, 87%, 50%),
        200:hsl(83, 87%, 60%),
        300:hsl(83, 87%, 70%),
        400:hsl(83, 87%, 50%,0.2),
        ),
    ntr:(
        100:hsl(260, 4%, 15%),
        200:hsl(260, 4%, 25%),
        300:hsl(260, 4%, 35%),
        400:hsla(260, 4%, 15%, 0.2),
        ),
    txt:(
        100:hsl(0, 0%, 76%),
        200:hsl(0, 0%, 86%),
        300:hsl(0, 0%, 96%),
        400:hsla(0, 0%, 76%, 0.2),
        )
);

@mixin mid{
    @media screen and ( min-width: "768px" ){@content}
};

:root{
    @each $clr, $vls in $clrsLight{
        @each $cl, $vl in $vls{
            --clr-#{$clr}-#{$cl}:#{$vl};
        }
    }
    --gap: 1rem;
    --mid_gap: 0.5rem;
}
@each $clr, $vls in $clrsLight{
    @each $cl, $vl in $vls{
        .txt-#{$clr}-#{$cl}{
            color:  var(--clr-#{$clr}-#{$cl});
        }
        .bg-#{$clr}-#{$cl}{
            color:  var(--clr-#{$clr}-#{$cl});
        }
    }
}
body[data-mode="dark"]{
    @each $clr, $vls in $clrsDark{
        @each $cl, $vl in $vls{
            --clr-#{$clr}-#{$cl}:#{$vl};
        }
    }
    @each $clr, $vls in $clrsDark{
        @each $cl, $vl in $vls{
            .txt-#{$clr}-#{$cl}{
                color:  var(--clr-#{$clr}-#{$cl});
            }
            .bg-#{$clr}-#{$cl}{
                color:  var(--clr-#{$clr}-#{$cl});
            }
        }
    }
}
