@use "./Vars";

*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
html, body{
  font-family: "Inter", serif;
  font-size: 1.02em;
  background-color:var(--clr-bg-100);
  color: var(--clr-txt-100);
  transition: all 0.5s;
}



a{
    text-decoration: none;
    color: var(--clr-prime-100);
}
ul[class]{
    list-style:none;
}
button{
    background:unset;
    border:unset;
}
img{
    display:block;
    width:100%;
}
/*Wrapper*/
.wrapper{
    padding-inline: 1rem;
    @include mid{
        max-width: 1245px;
        padding-inline: 0;
        margin-inline:auto;
    }
}
/*Wrapper*/
.uppercase{
    text-transform: uppercase;
}
.underline{
    position:relative;
    &::after, &::before{
        content:"";
        position:absolute;
      
        background: var(--clr-ntr-400)
    }
    &::after{
        left: 0.5rem;
        right:-0.1rem;
        bottom: 50%;
        top: 0;
        z-index: -1;
    }
    &::before{
        left: -0.1rem;
        right: 0;
        bottom: -0rem;
        top: 50%;
        z-index: -1;
    }
}
.call__full{
    display: block;
    color: var(--clr-txt-100);
    background: var(--clr-call-100);
    padding: 0.3rem;
    font-weight: 900;
    display: flex;
    gap: var(--mid_gap);
    align-items: center;
    border-radius: 5px;
    width: fit-content;
}
body[data-mode="dark"]{
    .call__full{
        color: var(--clr-bg-100)
    }
}
/*######################Animation#########################*/
@supports (animation-timeline: view()){
    @media (prefers-reduced-motion: no-preference){
        @keyframes appear {
            0%{
                opacity: 0;
                transform:translateY(100px);
                scale: 0;
            }
            100%{
                opacity: 1;
                transform:translateY(0);
                scale:1;
            }
        }
        .scroll__fadein{
            animation: appear linear;
            animation-timeline: view();
            animation-range: entry 10% cover 25%;
        }
        @keyframes appearLeft {
            0%{
                opacity: 0;
                transform:translateX(-200px);
                scale: 0;
            }
            100%{
                opacity: 1;
                transform:translateX(0);
                scale:1;
            }
        }
        .scroll__fadeinLeft{
            animation: appearLeft linear;
            animation-timeline: view();
            animation-range: entry 10% cover 25%;
        }
        @keyframes appearRight {
            0%{
                opacity: 0;
                transform:translateX(1000px);
                scale: 0;
            }
            100%{
                opacity: 1;
                transform:translateX(0);
                scale:1;
            }
        }
        .scroll__fadeinRight{
            animation: appearRight linear;
            animation-timeline: view();
            animation-range: entry 10% cover 25%;
        }
        
    }
}

/*######################Animation###########################*/
/*##################################### Main Header##############*/

.main-header{
    background-color: var(--clr-bg-100);
    .wrapper{
        display:flex;
        align-items:center;
        justify-content: flex-end;
        padding-block:0.5rem;
        gap: var(--gap);
    }
    .main-header__socials{
        display:flex;
        gap: var(--mid_gap);

    }
    .main-header__logo{
        margin-inline-end: auto;
        display:flex;
        gap: 0.5rem;
        align-items:center;
        h1{
            font-size: .8rem;
        }
    }
}


.main-header__color-mode{
    button{
        display:block;
        width: 1rem;
        aspect-ratio: 1;
        overflow: hidden;
        cursor:pointer;
        
        .sun, .moon{
           
            transition: all 0.5s;
            path{
                fill: var(--clr-txt-100);
            }
        }
    }
}
body[data-mode="dark"]{
    .main-header__color-mode{
        button{
           .sun, .moon{
             transform:translatey(-15px);
           }
        }
    }
}


/*##################################### Main Header##############*/

